$dark: #231F20;
/*FONTS*/
@font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/GothamPro-Medium.woff');
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/GothamPro-Bold.woff');
    font-display: swap;
}
// @font-face {
//     font-family: 'Gotham Pro';
//     font-style: normal;
//     font-weight: 400;
//     src: url('../fonts/GothamPro.woff');
//     font-display: swap;
// }
*,
::after,
::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Gotham Pro';
    font-weight: 500;
    min-height: 100%;
}
h1,h2,h3,h4,h5,h6,p,ul,li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button, 
button:active, 
button:focus {
    outline: none;
}
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}
.open {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    &--rotate {
        transform: rotate(45deg) ; 
    }
}
.svg {
    display: none;
    &--plus {
        display: block;
        width: 20px;
        height: 20px;
    }
    
}
.container {
    margin: 0 auto;
    max-width: 1193px;
    width: 100%;
}
.more {
    color: $dark;
    text-decoration: underline;
    &:hover {
        color: #FFC193;
        transition: .2s linear;
    }
}
.offer {
    color: #ffffff;
    text-decoration: none;
    &:hover {
        color: #FFC193;
        transition: .2s linear;
    }
}
.header {
    // margin-top: -63px;
    background-color: #ffffff;
    padding: 14px 0;
    box-shadow: 0px 5px 10px rgba(169, 130, 103, 0.3);
    &__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 174px;
        height: 36px;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &__menu {
        display: flex;
        flex-direction: row;
        &--link {
            padding: 0 10px;
            font-size: 16px;
            line-height: 18px;
            color: $dark;
            font-weight: 500;
            &:first-of-type {
                padding: 0 10px 0 0;
            }
            &:last-of-type {
                padding: 0 0 0 10px;
            }
            &:hover {
                color: #FFC193;
                transition: .2s linear;
            }
        }
    }
    &__call {
        display: flex;
        align-items: center;
        svg {
            display: block;
            width: 24px;
            height: 24px;
            margin-right: 9px;
        }
        &--num {
            color: $dark;
            font-size: 16px;
            line-height: 18px;
            font-weight: 500;
            &:hover {
                color: #FFC193;
                transition: .2s linear;
            }
        }
    }
    &__button {
        display: none;
        width: 20px;
        height: 20px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        span {
            margin: 10px 0;
            display: block;
            width: 20px;
            height: 2px;
            background-color: #FF939C;
            position: relative;
            &::before, 
            &::after {
                position: absolute;
                content: '';
                display: block;
                width: 20px;
                height: 2px;
                background-color: #FF939C;
                transition: .2s linear;
            }
            &::before {
                top: 5px;
            }
            &::after {
                bottom: 5px;
            }
        }
        &--active {
            span {
                height: 0;
                &::before {
                    transform: rotate(45deg);
                    top: 0px;
                }
                &::after {
                    transform: rotate(-45deg);
                    bottom: -2px;
                }
            }
        }
    }
}
.menu {
    display: none;
    position: absolute;
    &__link {
        color: $dark;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 10px; 
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: $dark;
    &--intro {
        padding: 21px 0;
        width: 684px;
        position: relative;
        &::before {
            content: url('../ellips.svg');
            display: block;
            position: absolute;
            top: -385px;
            left: -362px;
            z-index: -1;
        }
    }
    &--white {
        color: #ffffff;
    }
    &--left {
        text-align: left;
    }
}
.subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $dark;
    &--about {
        text-align: center;
    }
    &--bonus {
        display: block;
        width: 606px;
        margin-top: 30px;
        position: relative;
        &::before {
            content: url('../ellips.svg');
            position: absolute;
            top: -477px;
            left: -394px;
            z-index: -1;
        }
    }
    &--white {
        color: #ffffff;
    }
    &--sessions {
        margin-top: 34px;
        display: block;
        width: 585px;
    }
    &--autor {
        margin-bottom: 20px;
        margin-left: 40px;
    }
    &--buy {
        display: block;
        margin: 0 auto 40px auto;
        text-align: center;
        width: 138px;
    }
    &--long {
        width: 162px;
    }
    &--loong {
        width: 155px;
    }
    &--underline {
        &::after {
            margin-top: 17px;
            content: '';
            display: block;
            width: 71px;
            height: 3px;
            background-color: #ffffff;
        }
    }
    &--program {
        text-align: center;
        margin-bottom: 22px;
    }
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $dark;
    &--decoration {
        padding: 0 0 24px 0;
        width: 510px;
        &::after {
            margin-top: 24px;
            display: block;
            content: '';
            width: 71px;
            height: 3px;
            background: #A66230;
        }
    }
    &--medium {
        font-weight: 500;
    }
    &--bold {
        font-weight: 700;
    }
    &--center {
        text-align: center;
    }
    &--white {
        color: #ffffff;
    }
    &--about {
        width: 480px;
        margin-top: 26px;
    }
    &--small {
        font-size: 12px;
    }
    &--name {
        display: block;
        margin-top: 20px;
    }
    &--buy {
        display: block;
        margin: 0 auto;
        font-size: 16px;
        line-height: 21px;
    }
    &--overline {
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 87px;
            height: 1px;
            background-color: #A66230;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &--price {
        display: block;
        margin: 45px auto 0 auto;
        font-size: 50px;
        text-align: center;
        color: #A66230;
        font-weight: 700;
    }
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 65px;
    padding: 23px 27px 24px 27px;
    background: $dark;
    box-shadow: 0px 5px 10px rgba(169, 130, 103, 0.3);
    border-radius: 25px 0px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    svg {
        display: block;
        width: 27px;
        height: 11px;
        margin-left: 5px;
    }
    &--intro {
        margin-top: 34px;
    }
    &--about {
        margin-top: auto;
    }
    &--brown {
        background-color: #A66230;
    }
    &--long {
        width: auto;
    }
    &--review {
        margin-right: 30px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    &--yellow {
        background: #FFC193;
        color: $dark;
    }
    &--buy {
        margin: 0 auto;
    }
    &--sticky {
        position: sticky;
        top: 130px;
        left: 100%;
        z-index: 1000;
        transform: rotate(270deg);
        box-shadow: none;
        transform-origin: 100% 100%;
    }

}
.list {
    &__item {
        display: flex;
        align-items: baseline;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
        &--circle {
            &::before {
                content: '';
                display: flex;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background: #A66230;
                flex: 0 0 auto;
                margin-right: 11px;
            }
        }
        &--check {
            &::before {
                content: url('../img/bonus/check.svg');
                display: flex;
                margin-right: 17px;
                display: flex;
                flex: 0 0 auto;
            }
        }
    }
    &__about {
        padding: 29px 0 22px 0;
    }
    &__bonus {
        margin-top: 40px;
    }
    &__results {
        width: 583px;
        height: 518px;
        overflow: auto;
        scrollbar-color: #A66230 #E6DAD2;
        scrollbar-width: thin;
        padding: 0 30px 0 0;
        &::-webkit-scrollbar {
            width: 3px;
            background-color: #E6DAD2;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #A66230;
        }
    }
    &__sessions {
        padding: 35px 100px 36px 60px;
    }
    &__short {
        // padding: 69px 102px 81px 50px;
        height: auto;
    }
}
.intro {
    padding: 60px 0 125px 0;
    // overflow: hidden;
    position: relative;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        display: flex;
        flex-direction: column;
    }
    &__img {
        display: block;
        width: 500px;
        height: auto;
        position: relative;
        // &::after {
        //     display: block;
        //     content: url('../ellips.svg');
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        // }
    }
    
}
.about {
    position: relative;
    background-color: #BF9C83;
    padding: 172px 0 90px 0;
    &__block {
        position: absolute;
        top: -10%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        &--item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 276px;
            height: 180px;
            padding: 15px 29px 21px 29px;
            background: #FFFFFF;
            box-shadow: 0px 7px 10px #A98267;
            border-radius: 25px;
            margin: 0 15px;
            &:first-of-type {
                margin: 0 15px 0 0;
            }
            &:last-of-type {
                margin: 0 0 0 15px;
            }
            svg {
                display: block;
                margin-bottom: 10px;
                width: 24px;
                height: 24px;
            }
        }
        &--m {
            display: none;
        }
    }
    &__inner {
        position: relative;
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        // &::before {
        //     content: '';
        //     position: absolute;
        //     left: -119px;
        //     bottom: -79px;
        //     display: block;
        //     width: 262px;
        //     height: 262px;
        //     background: rgba(255, 147, 156, 0.5);
        //     opacity: 0.5;
        //     filter: blur(200px);
        //     z-index: -1;
        // }
        // &::after {
        //     content: '';
        //     position: absolute;
        //     right: -240px;
        //     bottom: 0;
        //     display: block;
        //     width: 636px;
        //     height: 636px;
        //     background: rgba(255, 221, 196, 0.5);
        //     opacity: 0.5;
        //     filter: blur(200px);
        //     z-index: -1;
        // }
        &--item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 378px;
            padding: 40px 30px;
            background: #FFFFFF;
            box-shadow: 0px 7px 10px #A98267;
            border-radius: 25px;
        }
    }
}
.program {
    padding: 100px 0 60px 0;
    &__inner {
        display: flex;
        margin-top: 65px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 378px;
        height: 500px;
        background-color: #ffffff;
        box-shadow: 0px 5px 10px rgba(169, 130, 103, 0.3);
        padding: 87px 25px 44px 50px;
        border-radius: 25px;
        position: relative;
    }
}
.bonus {
    padding: 112px 0 0 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
        // &::after {
        //     content: '';
        //     position: absolute;
        //     right: -240px;
        //     bottom: -115px;
        //     display: block;
        //     width: 467px;
        //     height: 467px;
        //     background: #FFDDC4;
        //     opacity: 0.5;
        //     filter: blur(200px);
        //     z-index: -1;
        // }
    }
    &__img {
        display: block;
        position: absolute;
        top: -220px;
        right: 0px;
    }
}
.course {
    padding: 90px 0 0 0;
    &__inner {
        width: 888px;
        margin-top: 57px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &--item {
            display: flex;
            justify-content: center;
            width: 276px;
            height: 100px;
            padding: 28px 10px;
            background: #FFFFFF;
            box-shadow: 0px 5px 10px rgba(169, 130, 103, 0.3);
            border-radius: 25px;
            position: relative;
            margin-bottom: 30px;
            &:nth-child(1) {
                &::before {
                    content: url('../img/course/calendar.svg');
                    position: absolute;
                    top: -15px;
                    left: 0;
                }
            }
            &:nth-child(2) {
                &::before {
                    content: url('../img/course/clock.svg');
                    position: absolute;
                    top: -12px;
                    left: 0;
                }
            }
            &:nth-child(3) {
                &::before {
                    content: url('../img/course/eye.svg');
                    position: absolute;
                    top: -8px;
                    left: 0;
                }
            }
            &:nth-child(4) {
                width: 582px;
                margin-bottom: 0;
                &::before {
                    content: url('../img/course/heart.svg');
                    position: absolute;
                    top: -10px;
                    left: 0;
                }
            }
            &:nth-child(5) {
                margin-bottom: 0;
                &::before {
                    content: url('../img/course/pen.svg');
                    position: absolute;
                    top: -10px;
                    left: 0;
                }
            }
            &_brown {
                margin-bottom: 0;
                padding: 38px 22px;
                width: 276px;
                height: 230px;
                background: #A66230;
                box-shadow: 0px 5px 10px rgba(169, 130, 103, 0.3);
                &::before {
                    display: none;
                }
            }
        }
    }
    &__block {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}
.results {
    padding: 130px 0 100px 0;
    &__inner {
        margin-top: 45px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        &--m {
            display: none;
        }
        &--item {
            position: relative;
            margin: 0 0 0 auto;
            padding: 69px 69px 7px 48px;
            background: #FFFFFF;
            box-shadow: 0px 5px 10px rgba(169, 130, 103, 0.3);
            border-radius: 25px;
            &::-webkit-scrollbar {
                width: 3px;
                height: 3px;
                border-radius: 20px;
            }
            &::-webkit-scrollbar-track-piece  {
                background-color: #E6DAD2;
                border-radius: 20px;
            }
            &::-webkit-scrollbar-thumb:vertical {
                height: 10px;
                background-color: #A66230;
                border-radius: 20px;
            }
            &::before {
                content: url('../ellips.svg');
                position: absolute;
                top: -35%;
                left: -116%;
                z-index: -1;
            }
            &__short {
                padding: 69px 102px 81px 50px;
                height: auto;
            }
        }
    }
    &__img {
        display: block;
        width: 378px;
        height: 437px;
    }
}
.review {
    padding: 79px 0 155px 0;
    background-color: #FFDDC4;
    &__inner {
        margin-top: 75px;
        &--item {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            &:nth-child(2n) {
                flex-direction: row-reverse;
            }
        }
    }
    &__img {
        display: block;
        width: 174px;
        height: 174px;
    }
    &__block {
        width: 786px;
        background-color: #ffffff;
        border-radius: 25px;
        margin: 0 55px;
        filter: drop-shadow(0px 5px 10px #A98267);
        &--right {
            padding: 33px 24px 22px 53px;
            &::after {
                position: absolute;
                top: 50%;
                left: -31px;
                transform: translateY(-50%);
                content: '';
                display: block;
                border-top: 51px solid #ffffff; 
                border-left: 31px solid transparent;
            }
        }
        &--left {
            padding: 33px 55px 22px 35px;
            &::after {
                position: absolute;
                top: 50%;
                right: -30px;
                transform: translateY(-50%);
                content: '';
                display: block;
                border-top: 51px solid transparent; 
                border-left: 31px solid #ffffff;
                transform: scale(1, -1);
            }
        }
    }
    &__buttons {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
.sessions {
    padding: 100px 0;
    &__inner {
        position: relative;
        margin-top: 67px;
        // &::after {
        //     content: '';
        //     position: absolute;
        //     left: -225px;
        //     bottom: 197px;
        //     display: block;
        //     width: 644px;
        //     height: 644px;
        //     background: #FFDDC4;
        //     opacity: 0.5;
        //     filter: blur(200px);
        //     z-index: -1;
        // }
        &--item {
            margin-bottom: 30px;
            width: 888px;
            background-color: #ffffff;
            border-radius: 25px;
            overflow: hidden;
            box-shadow: 0px 5px 10px rgba(169, 130, 103, 0.3);
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    &__header {
        padding: 18px 0 21px 60px;
        background-color: #FFC193;
    }
    &__img {
        display: block;
        position: absolute;
        top: 171px;
        right: 0;
    }
}
.autor {
    padding: 110px 0 95px 0;
    &__inner {
        margin-top: 64px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        &--item {
            width: 50%;
            margin-bottom: 64px;
            &:nth-child(2) {
                width: 444px;
            }
            &:nth-child(3) {
                width: 480px;
            }
            img {
                display: block;
                width: 100%;
            }
        }
    }
}
.buy {
    padding: 100px 0 90px 0;
    background-color: #BF9C83;
    &__inner {
        padding: 93px 0 70px 0;
        display: flex;
        justify-content: space-between;
        &--item {
            display: flex;
            flex-direction: column;
            width: 32.5%;
            padding: 43px 61px 73px 61px;
            background-color: #ffffff;
            box-shadow: 0px 7px 10px #A98267;
            border-radius: 25px;
        }
        &--currency {
            font-family: 'Gotham Pro';
            margin-top: 37px;
            margin-bottom: 62px;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                margin: 0;
                &::after {
                    content: "/";
                    padding: 0 5px;
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    &__small {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.footer {
    background-color: $dark;
    padding: 80px 0 90px 0;
    margin-top: auto;
    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &--item {
            display: flex;
            flex-direction: column;
        }
    }
    &__links {
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        &--item {
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            border-radius: 5px;
            background-color: #ffffff;
            svg {
                display: block;
                width: 20px;
                height: 20px;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                opacity: .7;
                transition: .2s linear;
            }
        }
    }
    &__address {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        &--item {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 1366px) {
    .container {
        padding: 0 1%;
    }
    .about {
        &__inner {
            &--item {
                align-items: center;
                width: 32.5%;
                padding: 33px 30px 44px 40px;
            }
        }
    }
    .bonus {
        &__img {
            width: 450px;
            height: auto;
        }
    }
    .list {
        &__results {
            width: 500px;
        }
    }
    .sessions {
        &__inner {
            &--item {
                width: 76%;
            }
        }
        &__img {
            width: 35%;
        }
    }
    .buy {
        &__inner {
            &--item {
                padding: 43px 30px 73px 30px;
            }
        }
    }
    .course {
        &__inner {
            &--flex {
                width: 70%;
            }
            &--item {
                width: 32%;
                height: auto;
                &:nth-child(4) {
                    width: 66%;
                }
                &_brown {
                    width: 27%;
                    height: 230px;
                }
            }
        }
    }
}
@media (max-width: 1170px) {
    .program {
        &__item {
            width: 350px;
            padding: 87px 25px 44px 50px;
        }
    }
    .course {
        &__inner {
            &--item {
                &_brown {
                    width: 27%;
                    height: 274px;
                }
            }
        }
    }
}
@media (max-width: 1112px) {
    .bonus {
        &__img {
            width: 38%;
            height: auto;
        }
    }
}
@media (max-width: 1024px) {
    .list {
        &__results {
            width: 440px;
        }
    }
    .program {
        &__item {
         width: 310px;
         padding: 60px 25px 44px 50px;
        }
    }
}
@media (max-width: 991px) {
    .header {
        &__call {
            display: none;
        }
    }
    .title {
        font-size: 40px;
        line-height: 54px;
        &--intro {
            width: 592px;
        }
    }
    .about {
        &__block {
            top: -5%;
        }
        &__inner {
            margin-top: 50px;
            &--item {
                width: 33%;
                padding: 33px 20px 44px 20px;
            }
        }
    }
    .bonus {
        &__img {
            width: 35%;
            top: -160px;
        }
    }
    .course {
        &__inner {
            width: auto;
            &--item {
                width: 32%;
                &:nth-child(4) {
                    width: 66%;
                }
            }
            &--flex {
                width: 68%;
            }
        }
    }
    .results {
        &__img {
            display: none;
        }
        &__inner {
            &--item {
                width: 500px;
                margin: 0 auto;
            }
        }
    }
    .program {
        &__item {
            width: 100%;
            padding: 60px 25px 44px 40px;
            height: auto;
        }
    }
}
@media (max-width: 984px) {
    .buy {
        padding: 60px 0;
        &__inner {
            padding: 50px 0 70px 0;
            flex-direction: column;
            align-items: center;
            &--item {
                width: 60%;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media (max-width: 902px) {
    .button {
        &--yellow {
            display: none;
        }
    }
    .about {
        overflow: hidden;
    }
}
@media (max-width: 877px) {
    .bonus {
        &__img {
            width: 34%;
            top: -130px;
        }
    }
}
@media (max-width: 834px) {
    .header {
        position: relative;
        &__menu {
            display: none;
        }
        &__button {
            display: block;
        }
    }
    .menu {
        position: absolute;
        top: 43px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        z-index: 100;
        &__link {
            display: none;
            &:first-of-type {
                padding-top: 47px;
            }
            &:last-child {
                padding-bottom: 44px;
            }
        }
    }
    .intro {
        padding: 40px 0 60px 0;
        &__inner {
            flex-direction: column;
        }
        &__text {
            text-align: center;
        }
        &__img {
            margin-top: 50px;
            width: 300px;
        }
    }
    .title {
        text-align: center;
        &--intro {
            margin: 0 auto;
            width: 459px;
            &::before {
                display: none;
            }
        }
        &--left {
            text-align: left;
        }
    }
    .subtitle {
        &--bonus {
            margin: 30px auto 0 auto;
            text-align: center;
            &::before {
                opacity: .6;
            }
        }
        &--sessions {
            width: auto;
            text-align: center;
        }
    }
    .button {
        &--intro {
            margin: 30px auto 0 auto;
                &::after {
                display: block;
                content: url('../ellips.svg');
                position: absolute;
                top: 243px;
                right: 0;
                z-index: -1;
                opacity: .6;
            }   
        }
        &--buy {
            margin: 0 auto;
        }
    }
    .text {
        &--decoration {
            margin: 0 auto;
            &::after {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &--date {
            margin-top: 20px;
        }
        &--about {
            width: auto;
        }
        &--results {
            padding-top: 8px;
        }
    }
    .about {
        padding: 60px 0;
        &__block {
            display: none;
            &--m {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &--item {
                width: 60%;
                margin: 30px 0;
                &:first-of-type {
                    margin: 0;
                }
                &:last-of-type {
                    margin: 0;
                }
            }
        }
        &__inner {
            flex-direction: column;
            align-items: center;
            &--item {
                width: 60%;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .bonus {
        padding: 60px 0 0 0;
        &__img {
            width: 50%;
            margin-top: 30px;
            position: static;
        }
        &__inner {
            flex-direction: column;
            align-items: center;
        }
    }
    .course {
        padding: 70px 0 0 0;
        &__inner {
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            &--item {
                width: 70%;
                height: auto;
                margin-bottom: 30px;
                padding: 28px 22px;
                &_brown {
                    margin-top: 30px;
                }
                &:nth-child(1) {
                    &::before {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &:nth-child(2) {
                    &::before {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &:nth-child(3) {
                    &::before {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &:nth-child(4) {
                    width: 70%;
                    margin-bottom: 30px;
                    &::before {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &:nth-child(5) {
                    &::before {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
            &--flex {
                width: auto;
            }
        }
        &__block {
            flex-direction: column;
            align-items: center;
        }
    }
    .results {
        padding: 70px 0;
        &__inner {
            display: none;
            &--m {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        &__item {
            &--m {
                margin-bottom: 5px;
                width: 70%;
                background-color: #AAA46C;
                padding: 13px 19px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &--header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &--body {
                display: none;
            }
        }
    }
    .review {
        padding: 60px 0;
        &__inner {
            margin-top: 50px;
        }
        &__block {
            width: auto;
        }
    }
    .open {
        display: flex;
    }
    .svg {
        display: block;
    }
    .sessions {
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            &--item {
                width: 80%;
            }
        }
        &__img {
            width: 50%;
            margin-top: 30px;
            position: static;
        }
        &__header {
            padding: 18px 8px 21px 60px;;
        }
    }
    .autor {
        padding: 70px 0;
        &__inner {
            flex-direction: column;
            &--item {
                width: 60%;
                &:nth-child(1) {
                    order: 1;
                }
                &:nth-child(2) {
                    order: 2;
                }
                &:nth-child(3) {
                    order: 4;
                }
                &:nth-child(4) {
                    order: 3;
                }
            }
        }
    }
    .program {
        padding: 60px 0 0 0;
        &__inner {
            margin-top: 10px;
        }
    }
}
@media (max-width: 768px) {
    .intro {
        overflow: hidden;
    }
    .subtitle {
        &--bonus {
            width: auto;
            padding: 0 30px;
        }
    }
    .list {
        &__item {
            &--circle { 
                &::before {
                    background-color: #AAA46C;
                }
            }
        }
    }
}
@media (max-width: 667px) {
    .button {
        &--review {
            width: 250px;
            margin-right: 0;
            margin-bottom: 30px;
            svg {
                display: none;
            }
        }
    }
    .review {
        &__inner {
            &--item {
                flex-direction: column;
                position: relative;
            }
        }
        &__img {
            position: absolute;
            bottom: 20px;
            right: 100px;
            z-index: 100;
            width: 75px;
            height: 75px;
        }
        &__block {
            &--right {
                padding: 40px 30px 100px 30px;
                &::after {
                    display: none;
                }
            }
            &--left {
                padding: 40px 30px 100px 30px;
                &::after {
                    display: none;
                }
            }
        }
        &__buttons {
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
        }
    }
    .text {
        &--buy {
            font-size: 12px;
        }
    }
    .subtitle {
        &--bonus {
            &::before {
                display: none;
            }
        }
    }
}
@media (max-width: 568px) {
    .container {
        padding: 0 3%;
    }
    .title {
        font-size: 30px;
        line-height: 34px;
        &--intro {
            width: 330px;
        }
    }
    .subtitle {
        font-size: 19px;
        line-height: 23px;
        &--bonus {
            padding: 0;
        }
        &--buy {
            width: 173px;
            font-size: 30px;
            line-height: 34px;
        }
        &--long {
            width: 203px;
        }
        &--loong {
            width: 193px;
        }
        &--underline {
            position: relative;
            &::after {
                position: absolute;
                top: 17px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .text {
        font-size: 16px;
        line-height: 21px;
        &--decoration {
            width: auto;
            padding: 0 20px 24px 20px;
        }
        &--date {
            margin: 20px auto 0 auto;
            width: 243px;
        }
        &--price {
            font-size: 50px;
        }
        &--buy {
            font-size: 21px;
        }

        &--overline {
            &::before {
                width: 110px;
            }
        }
        &--offer {
            font-size: 12px;
            line-height: 15px;
            text-align: center;
        }
    }
    .list {
        &__bonus {
            margin-top: 20px;
        }
        &__sessions {
            padding: 20px 35px 40px 35px;
            .list {
                &__item {
                    &--check {
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .button {
        width: 212px;
        font-size: 14px;
        padding: 20px 15px 19px 15px;
    }
    .header {
        &__logo {
            width: 140px;
            height: 29px;
        }
    }
    .intro {
        padding: 15px 0 50px 0;
    }
    .about {
        &__block {
            &--item {
                width: 80%;
            }
        }
        &__inner {
            &--item {
                width: 80%;
            }
        }
    }
    .bonus {
        padding: 60px 5% 0 5%;
        &__img {
            width: 70%;
        }
    }
    .course {
        &__inner {
            &--item {
                width: 80%;
                &:nth-child(4) {
                    width: 80%;
                }
            }
        }
    }
    .results {
        padding: 60px 0;
        &__inner {
            &--m {
                margin-top: 40px;
            }
        }
        &__item {
            &--m {
                width: 80%;
            }
        }
    }
    .review {
        padding: 40px 0;
        &__inner {
            margin-top: 30px;
        }
        &__img {
            width: 69px;
            height: 69px;
        }
        &__block {
            margin: 0 auto;
            width: 80%;
        }
    }
    .sessions {
        padding: 60px 0;
        &__inner {
            margin-top: 40px;
            &--item {
                width: 100%;
            }
        }
        &__header {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px 5px;
        }
    }
    .autor {
        padding: 60px 0;
        &__inner {
            margin-top: 30px;
            &--item {
                margin-bottom: 20px;
                width: 80%;
                &:nth-child(2) {
                    width: 80%;
                    margin-bottom: 50px;
                }
                &:nth-child(3) {
                    width: 80%;
                }
            }
        }
    }
    .buy {
        &__inner {
            padding: 50px 0;
            &--item {
                padding: 40px 30px;
                width: 80%;
            }
            &--currency {
                margin-bottom: 30px;
            }
        }
    }
    .program {
        &__item {
            width: 400px;
        }
    }
    .footer {
        padding: 50px 0 20px 0;
        &__inner {
            flex-direction: column;
            align-items: center;
            &--item {
                text-align: center;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media (max-width: 414px) {
    .container {
        padding: 0 4%;
    }
    .title {
        &--results {
            margin: 0 auto;
            width: 200px;
        }
    }
    .text {
        &--name {
            margin-top: 50px;
        }
        &--price {
            font-size: 42px;
        }
    }
    .intro {
        &__img {
            width: 260px;
        }
    }
    .about {
        &__block {
            &--item {
                width: 75%;
            }
        }
    }
    .bonus {
        overflow: hidden;
    }
    .review {
        &__block {
            width: 100%;
            &--left {
                padding: 40px 30px;
                width: 100%;
            }
            &--right {
                padding: 40px 40px 45px 30px;
            }
        }
        &__img {
            right: 20px;
        }
    }
    .sessions {
        &__img {
            width: 65%;
        }
    }
    .autor {
        &__inner {
            &--item {
                width: 90%;
                &:nth-child(2) {
                    width: 90%;
                }
                &:nth-child(3) {
                    width: 90%;
                }
            }
        }
    }
    .buy {
        &__inner {
            &--item {
                width: 100%;
            }
        }
    }
}
@media (max-width: 375px) {
    .about {
        &__block {
            &--item {
                width: 100%;
            }
        }
        &__inner {
            &--item {
                width: 100%;
            }
        }
    }
    .course {
        &__inner {
            &--item {
                width: 100%;
                &:nth-child(4) {
                    width: 100%;
                }
            }
        }
    }
    .results {
        &__item {
            &--m {
                width: 100%;
            }
        }
    }
    .program {
        &__item {
            padding: 52px 10px 23px 10px;
            width: 270px;
            height: auto;
        }
    }
}